html
    head
        title Admin Page

        style
            include ../public/admin-movie.css

        script
            include ../public/admin-movie.js

    body
        -const currentYear = new Date().getFullYear()

        mixin movieInputs
            input(placeholder='Enter Movie Title', name='title')
            input(placeholder='Enter Movie Poster Img Link', name='img', type='url')
            input(placeholder='Enter IMDB Link', name='imdb_link', type='url')
            input(placeholder='Enter Movie Release Year', name='release', type='number',value=currentYear, min=1900, max=new Date().getFullYear()+1)
            input(placeholder='Enter Movie Order Quantity', type='number', min=0, name='available')

        h1(style= "margin-top:5%") Post A New Movie  
        form#newMovieForm
            +movieInputs            
        button#submitNew Add Movie To DB

        h1(style="margin-top:5%") Update A Movie Document
        form#updateMovieForm
            input(placeholder='Enter ID', name='Id')#idInput
            +movieInputs
        button#submitUpdate Update Movie To DB